/* Styling for the secondary navigation bar */

.sec-nav {
    background-color: #0f2649;
  }

  /* .btn{
    background-color: #ab792d !important;
    border: 1px solid #000000 !important;
  } */
  
 
  .sec-nav li a {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .sec-nav li a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
  
  .d-nav li a:hover{
  
    background-color:#0f2649;
    color: #ffffff;
  
  }
  
  /* Show dropdown menu on hover */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  /* Disable click on dropdown when hover is active */
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }
  
  /* Styling for dropdown menu items */
  .dropdown li a {
    color: black;
  }
  
  /* Styling for buttons */
  .search-btn {
    border-top-right-radius: 15px !important;
    padding: 10px 20px 10px 20px !important;
    transition: .5s ease-in !important;
    font-size: 14px !important;
  
  
  }
  
  /* Button hover effect */
  .search-btn:hover {
    background-color: #0f2649 !important;
    color: #fff !important;
  }
  
  /* Styling for header buttons */
  .head-btn {
    padding: 10px 20px 10px 20px !important;
    border: 1px solid black !important;
    margin-right: 5px !important;
    border-radius: 5px !important;
    transition: .5s ease-in !important;
    text-decoration: none!important;
    color: rgb(255, 255, 255)!important;
    background-color: #ab792d !important;
    border: 1px solid #000000 !important;
    font-size: 14px !important;
  }
  
  /* Header button hover effect */
  .head-btn:hover {
    background-color: #0f2649!important;
    color: #fff!important;
  }
  
  .cart-btn{
    font-size: 50px;
  }