.product-details {
    margin-top: 100px !important;
  }
  
  .product-details-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  
  .product-details-info h6 {
    margin-bottom: 20px !important;
  }
  
  .similar-products .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
  }
  
  .similar-products .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .similar-products .card-price {
    color: rgb(30, 168, 69);
    font-size: 22px;
  }
  .similar-products button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .similar-products .card-text {
    color: rgb(90, 89, 89);
  }
  
  .similar-products .card:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.8)  }
  
  .similar-products .card-img-top {
    height: 300px !important;
  }

  /* Styling for product cart buttons */
  .product-details-info button {
    border: 1px solid black;
    padding: 10px;
    color: rgb(255, 255, 255) !important;
    background-color: #ab792d;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s ease-in-out;
  }
  
  /* Product cart button hover effect */
  .product-details-info button:hover {
    color: #ffffff !important;
    background-color: #0f2649;
    box-shadow: 5px 5px 34px rgba(0, 0, 0, 0.8);
  }
  